<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3 class="text-center my-3">Login</h3>
    <hr/>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <div class="mb-3">
        <label>Email</label>
        <input [class.is-invalid]="email.touched && !email.valid" type="email" class="form-control" formControlName="email">
        <div *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors?.required" class="text-danger"> Email is required</div>
          <div *ngIf="email.errors?.email" class="text-danger"> Invalid Email</div>
        </div>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input [class.is-invalid]="password.touched && !password.valid" type="password" class="form-control" formControlName="password">
        <div *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors?.required" class="text-danger"> Password is required</div>
        </div>
      </div>
      <div class="mb-3 text-center">
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
