<div class="row">
  <div class="col-md-8">
    <h3 class="my-3">Post List</h3>

    <div>
      <a href="#" class="btn btn-primary" [routerLink]="['/posts/add']">Add Post</a>
    </div>
    <table class="table table-striped" *ngIf="posts | async as postsData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postsData">
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.description}}</td>
          <td>
            <a href="" class="btn btn-primary" [routerLink]="['edit', post.id]">Update</a>
            <button class="btn btn-danger mx-2" (click)="onDeletePost(post.id)">Delete</button>
            <a href="" class="btn btn-info" [routerLink]="['details', post.id]">Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
